{
	local_certs
	auto_https disable_redirects
}

# writing cookies to home.arpa is restricted, so we need a common subdomain a level deeper
http://*.test.home.arpa {
	redir https://{host}{uri} permanent
}

(handle_auth) {
	reverse_proxy unix//socket/auth.sock
}
:9999 {
	import handle_auth
}
auth.test.home.arpa {
	import handle_auth
}

# args:
# 0: redirect url
(forward_auth) {
	forward_auth unix//socket/auth.sock {
		uri /api/auth?redirect={args[0]}
	}
}

# args:
# 0: subdomain
# 1: outside port
# 2: inside address
(routing) {
	:{args[1]} {
		reverse_proxy {args[2]}
	}
	{args[0]}.test.home.arpa {
		reverse_proxy {args[2]}
	}
}

# args:
# 0: subdomain
# 1: outside port
# 2: inside address
(auth_routing) {
	:{args[1]} {
		import forward_auth http://{host}:9999
		reverse_proxy {args[2]}
	}
	{args[0]}.test.home.arpa {
		import forward_auth https://auth.test.home.arpa
		reverse_proxy {args[2]}
	}
}

import auth_routing vscodium 80 vscodium:8000
import auth_routing vscodium2 8080 vscodium:8000
