{
	local_certs
	auto_https disable_redirects
}

http://cert.home.arpa {
	handle_path / {
		redir http://{host}/root.crt
	}
	handle_path /root.crt {
		root /data/caddy/pki/authorities/local/root.crt
		file_server
	}
}

http://*.home.arpa {
	redir https://{host}{uri} permanent
}

(handle_auth) {
	error /api/* 403
	reverse_proxy unix//socket/auth.sock
}
:9999 {
	import handle_auth
}
auth.home.arpa {
	import handle_auth
}

# args:
# 0: redirect url
(forward_auth) {
	forward_auth unix//socket/auth.sock {
		uri /api/auth?redirect={args[0]}
	}
}

# args:
# 0: inside address
(reverse_proxy) {
	reverse_proxy {args[0]}
	# TODO: remove cookie
}

# args:
# 0: subdomain
# 1: outside port
# 2: inside address
(routing) {
	:{args[1]} {
		import reverse_proxy {args[2]}
	}
	{args[0]}.home.arpa {
		import reverse_proxy {args[2]}
	}
}

# args:
# 0: subdomain
# 1: outside port
# 2: inside address
(auth_routing) {
	:{args[1]} {
		import forward_auth http://{host}:9999
		import reverse_proxy {args[2]}
	}
	{args[0]}.home.arpa {
		import forward_auth https://auth.home.arpa
		import reverse_proxy {args[2]}
	}
}

import auth_routing vscodium 80 vscodium:8000
import auth_routing vscodium2 8080 vscodium:8000
