:root {
	color-scheme: light dark;
}

@supports (font: -apple-system-body) {
	* {
		font: -apple-system-body;
	}
}

.login-form {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.grid {
	display: grid;
	gap: 0.375rem;
	@media (min-width: 576px) {
		grid-template-columns: auto auto;
		width: min-content;
	}
	@media not (min-width: 576px) {
		width: calc(100% - 0.75rem);
		padding: 0.375rem 0;
	}
}

/* Touchscreen */
@media (pointer:coarse) {
	input {
		min-height: 26pt;
	}

	button, input[type=submit] {
		min-height: 32pt;
	}
}

@media not (pointer:coarse) {
	input {
		min-height: 20pt;
	}

	button, input[type=submit] {
		min-height: 24pt;
	}
}

input {
	min-width: 140pt;
}

#login-button {
	width: 100%;
}

.grid > button,
.grid > input[type=submit]
{
	grid-column: 1 / -1;
}

#password-hash {
	overflow-wrap: anywhere;
}
